#此文件用于文件同步配置
#以'#'开头的行为注释行,解析时将被忽略

#syn_dirs_name 表示同步临时存放文件夹名称
#默认为 syndirs
#注意,此配置项不能为空,如果配置空,则认为采用
#syndirs做为名称
#字符串类型
syn_dirs_name=syndirs

#host_syn_dirs表示运行设备中的同步目录
#如果存在多个同步目录,需要以':'分割
#字符串类型
host_syn_dirs=

#debug_mode 表示同步是否以debug_mode模式运行
#默认不开启
#boolean类型
debug_mode=false

#both_way_syn表示运行设备与存储设备双向同步
#默认不开启
#如果开启此选项,则cp到各自的目录
#boolean类型
both_way_syn=false

#storage_syn_dirs 表示存储设备需要同步的目录
#如果存在多个存储设备目录,需要以':'分割
#字符串类型
storage_syn_dirs=

#need_syn_files_name 表示合乎同步规则的文件名正则表达式
#字符串类型
#默认此值为空,如果此值不为空则storage_syn_dirs中
#的文件可以匹配此正则才被同步
need_syn_files_name=
